:root {
  /*
    Measure is used to define the width of a line of text
    @see https://every-layout.dev/rudiments/axioms/
  */
  --measure: 60ch;
  --line-height: 1.5rem;

  font-size: var(--font-md);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Font weights */
  --font-hairline: 100;
  --font-thin: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  /* Font sizes */
  --font-xs: var(--s-2);
  --font-sm: var(--s-1);
  --font-md: var(--s0);
  --font-lg: var(--s1);
  --font-xl: var(--s2);
  --font-2xl: var(--s3);
  --font-3xl: var(--s4);
  --font-4xl: var(--s5);
  --font-5xl: var(--s6);
  --font-6xl: var(--s7);

  --monospace: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

  /*
    Modular scale for visual harmony
    Ratio based off of font-size * line-height
    @see https://every-layout.dev/rudiments/modular-scale/
  */
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));

  --border-thin: var(--s-5) solid;
  --border-thick: var(--s-4) solid;

  --shadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);

  --primary: var(--rose600);
  --accent: var(--emerald600);
  --success: var(--green600);
  --warning: var(--yellow600);
  --error: var(--red600);

  --dark: var(--gray900);
  --light: var(--white);

  --black: #000000;
  --white: #ffffff;

  --gray50: #f8fafc;
  --gray100: #f1f5f9;
  --gray200: #e2e8f0;
  --gray300: #cbd5e1;
  --gray400: #94a3b8;
  --gray500: #64748b;
  --gray600: #475569;
  --gray700: #334155;
  --gray800: #1e293b;
  --gray900: #0f172a;

  --emerald50: #ecfdf5;
  --emerald100: #d1fae5;
  --emerald200: #a7f3d0;
  --emerald300: #6ee7b7;
  --emerald400: #34d399;
  --emerald500: #10b981;
  --emerald600: #059669;
  --emerald700: #047857;
  --emerald800: #065f46;
  --emerald900: #064e3b;

  --green50: #f0fdf4;
  --green100: #dcfce7;
  --green200: #bbf7d0;
  --green300: #86efac;
  --green400: #4ade80;
  --green500: #22c55e;
  --green600: #16a34a;
  --green700: #15803d;
  --green800: #166534;
  --green900: #14532d;

  --red50: #fef2f2;
  --red100: #fee2e2;
  --red200: #fecaca;
  --red300: #fca5a5;
  --red400: #f87171;
  --red500: #ef4444;
  --red600: #dc2626;
  --red700: #b91c1c;
  --red800: #991b1b;
  --red900: #7f1d1d;

  --rose50: #fff1f2;
  --rose100: #ffe4e6;
  --rose200: #fecdd3;
  --rose300: #fda4af;
  --rose400: #fb7185;
  --rose500: #f43f5e;
  --rose600: #e11d48;
  --rose700: #be123c;
  --rose800: #9f1239;
  --rose900: #881337;

  --yellow50: #fefce8;
  --yellow100: #fef9c3;
  --yellow200: #fef08a;
  --yellow300: #fde047;
  --yellow400: #facc15;
  --yellow500: #eab308;
  --yellow600: #ca8a04;
  --yellow700: #a16207;
  --yellow800: #854d0e;
  --yellow900: #713f12;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  line-height: var(--line-height);
  margin: 0;
}

/* Set measure and exclude elements that shouldn't have it */
* {
  max-width: var(--measure);
}
html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

/*
  Remove list styles on ul, ol elements with a list role,
  which suggests default styling will be removed
*/
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

code {
  font-family: var(--monospace);
}
